body{
    height: 144px;
	font-family: 'Roboto', sans-serif;
	    background-color: #E8F5FD;
}
/* Header */
.header{
	position: fixed;
	height: 60px;
	padding: 10px 0px;
	background-color: #FFF;
	    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;	
        border-bottom: 1px solid rgba(0,0,0,0.15);
	z-index: 100;

}
.fixed-header{
	    width: 1170px;
    margin: auto;
    float: none;
}
.logo{
	font-family: 'Droid Serif', serif;
	    color: #26a1e0;
    font-size: 28px;
    width: 30%;
    float: left;
    text-align: center;
}
.div-action-header{
	float: right;
	width: auto;
}
ul.list-action{
	    padding: 0px;
    list-style: none;
    margin: 0px;
    font-size: 16px;
    display: block;
        float: right;
    width: auto;
    max-width:70%;
}
ul.list-action li{
	line-height: normal;
	display: block;
    float: left;
    margin-right: 5px;
    position: relative;
}
ul.list-action li:last-child{
	margin-right: 0px;
}
ul.list-action li a.action{
	      padding: 0px 10px;
    height: 40px;
    line-height: 40px;
    display: block;
	    border-radius: 4px;
	color: #0e75b5;
}
ul.list-action li.active a.action,ul.list-action li:hover a.action,ul.list-action li:focus{
	text-decoration: none;
	background-color: #26a1e0;
	    color: #FFF;
}
ul.drop-hover-action{
	position: absolute;
	padding: 0px;
    list-style: none;
    margin: 0px;
    font-size: 14px;
        min-width: 300px;
    top: 55px;
    left: 0px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    display: none;
    	    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;	
    background-color: #FFF;
}
ul.drop-hover-action.drop-sim:before {
    content: "";
    width: 100%;
    height: 17px;
    background: transparent;
    z-index: 10000;
    display: block;
    position: absolute;	
    top: -17px;
}
ul.drop-hover-action.drop-sim{	
	padding: 10px 0px;
}
ul.list-action li:hover ul.drop-hover-action{
	display: block;
}
ul.drop-hover-action li{
	margin-right: 0px;
	width: 50%;
	float: left;
}
ul.drop-hover-action li a.action-drop{
	padding: 10px 10px;
    text-align: center;
    display: block;
    color: #337ab7;
}
ul.drop-hover-action li a.action-drop:hover,ul.drop-hover-action li a.action-drop:focus{
	    text-decoration: none;
    background: #3b88c3;
    color: #fff;
}
/* Body */
.body_home{
	width: 1170px;
	padding: 0px;
	margin: auto;
	padding-top: 80px
}
.body{
	width:100%;
	float: left;
}
.form-search{
	padding: 10px 30px;
	    background: #FFF;
    height: 60px;
	border-radius: 5px;
	line-height: 40px;
    border: 1px solid #e8e8e8;
}
.search-nm{
	width: 210px;
	float: left;
	margin-right: 25px;
}
#sl-nhamang{
	width: 120px;
	height: 100%;
}
.search-price{
	float: left;
	margin-right: 25px;
}
#sl-from,#sl-to{
	width: 150px;
	height: 100%;
}
.search-nm label,.search-price label,.search-sdt label{
	    margin-right: 10px;
    margin-bottom: 0px;
    font-size: 14px;

}
#sl-giaca2{
	width: 170px;	
}
.search-sdt{
    width: 243px;
    float: left;
    margin-right: 25px;
}
.input_sdt{
    line-height: 22px;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    width: 177px;
    padding: 2px 8px;
    border: 1px solid #aaa;
}
.search-button{
    width: 100px;
    float: left;
}
.btn.btn-search{
    width: 100px;
    background-color: #26a1e0;
    color: #FFF;
}
/*Footer*/

/*Plugin*/
	/*Select2*/
.select2-container .select2-selection--single:focus{
	outline: none;
}
	/* enscroll */
#scrollbox3 {
    overflow: auto;
    width: 400px;
    height: 360px;
    padding: 0 5px;
    border: 1px solid #b7b7b7;
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}